In [1]:
import pandas
db = pandas.read_csv('volcanoes.txt')

In [2]:
coordinates = db.iloc[:,-2:]
coordinates.LAT[0]

48.7767982

In [11]:
db1 = pandas.read_csv("countries.csv", encoding='windows-1254')

In [14]:
db1

,?,??????,?????????,????,% ??
0,NaN,NaN,NaN,NaN,?????????
1,NaN,NaN,NaN,NaN,?????
2,1,???,1 364 358 000,25 ????? 2014,19.25%
3,2,?????,1 250 938 000,25 ????? 2014,17.60%
4,3,???,317 321 000,25 ????? 2014,4.46%
...,...,...,...,...,...
243,242,??????? ??????? (????.),56,1 ??????? 2013,0.000002 %
244,NaN,NaN,NaN,NaN,NaN
245,??? ?????? ???????? ???????? : www.downloadexc...,NaN,NaN,NaN,NaN
246,NaN,NaN,NaN,NaN,NaN
247,?????????????,NaN,NaN,NaN,NaN